.App {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}
header,
footer,
content,
nav,
div {
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: content;
  padding: 10px;
  display: grid;
  grid-auto-rows: max-content;
  grid-column: 1fr;
  margin: 30px;
  gap: 20px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}
.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  .App {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
  }
}
